@import "./font-face";

:root {
  //
  --root-light-clr: #fff;
  --root-light-middle-clr: rgb(223, 223, 223);
  --root-light-dark-clr: rgb(204, 204, 204);
  --root-dark-clr: #1a1a1a;
  --root-dark-middle-clr: #313131;
  --root-dark-light-clr: #414141;
}

*,
*:before,
*:after {
  user-select: none;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// *::selection {
//   color: var(--white-clr);
//   background-color: var(--dark-clr);
// }

body {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  margin: 0;
  &::-webkit-scrollbar {
    display: none;
  }
}
