.lightTheme {
  --light-clr: var(--root-dark-clr);
  --dark-clr: var(--root-light-clr);
  --dark-middle-clr: var(--root-light-middle-clr);
  --dark-light-clr: var(--root-light-dark-clr);
}

.darkTheme {
  --light-clr: var(--root-light-clr);
  --dark-clr: var(--root-dark-clr);
  --dark-middle-clr: var(--root-dark-middle-clr);
  --dark-light-clr: var(--root-dark-light-clr);
}

.app {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  background-color: var(--dark-clr);
  height: 100%;
  &::-webkit-scrollbar {
    display: none;
  }
}

.controlsWrap {
  position: relative;
  z-index: 99;
  padding: 0 20px 20px;
  background: var(--dark-clr);
}

.topButtons {
  position: absolute;
  top: 2px;
  right: 2px;
  display: flex;
}

.topButton {
  background-color: transparent;
  opacity: 0.4;
  &:hover {
    opacity: 1;
    background-color: transparent;
  }
}

.menu {
  display: flex;
  height: 40px;
  width: 100%;
  margin: 16px 0;
  &_item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--light-clr);
  }
  &_shape {
    pointer-events: none;
    fill: var(--light-clr);
  }
  &_inactive {
    border: 1px solid var(--dark-light-clr);
    transition: all 0.2s ease;
    opacity: 0.3;
    &:hover {
      opacity: 0.8;
    }
  }
  &_radialGrBtn {
    background: radial-gradient(
      50% 50% at 50% 50%,
      var(--light-clr) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  &_linearGrBtn {
    background: linear-gradient(
      0deg,
      var(--light-clr) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  &_unformGrBtn {
    background: radial-gradient(
        54.59% 95.68% at 30.64% -45.59%,
        var(--light-clr) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      radial-gradient(
        96.59% 95.68% at 89.64% 83.41%,
        var(--light-clr) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(
        183deg,
        var(--light-clr) -114.77%,
        var(--dark-clr) 24.52%,
        var(--light-clr) 174.6%,
        var(--dark-clr) 101.2%
      );
  }
}

.settings {
  margin: 16px 0;
}

.button {
  width: 100%;
}

.svg {
  margin-left: 20px;
  margin-top: 20px;
  pointer-events: none;
  position: relative;
  overflow: visible;
}
