.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  padding: 8px;
  background-color: var(--dark-middle-clr);
  transition: all 0.2s ease;
  &:hover {
    background-color: var(--dark-light-clr);
  }
}

.text {
  user-select: none;
  margin: 0 4px;
  color: var(--light-clr);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
}

.icon {
  user-select: none;
}
